@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Mina:wght@400;700&display=swap');

/* fonts */

body {
    font-family: 'Hubballi', sans-serif;
}

h1, h2 {
    font-family: 'Mina', sans-serif;
}

p {
    font-size: 1.5rem;
}