@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Mina:wght@400;700&display=swap');

/* page positioning */
body {
    margin: 0px;
    padding: 0px;
}

h1, h2, p {
    margin: 5px;
    padding: 5px;
}

/* fonts */
body {
    font-family: 'Hubballi', sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-family: 'Mina', sans-serif;
    font-weight: 600;
}

p {
    font-size: 1.5rem;
}

/* lists */
ul {
    list-style: none;
    text-align: center;
}

/* header */
header a {
    float: left;
}

nav {
    float: right;
}

nav li {
    display: inline-block;
}

/* images */
.hero-images p {
    font-size: small;
    margin: 0px;
    padding: 0px;
}

.hero-images img {
    width: 100%;
}

#machine-catalogue-images img {
    display: inline-block;
    max-height: 400px;
    border: solid 4px #fff;
}

/* section */
section {
    display: block;
    text-align: center;
}

section h2 {
    font-size: 30px;
}

/* form */
form {
    padding: 5px;
    margin: 5px;
    font-size: 22px;
    display: inline-block;
    width: 42%;
    line-height: 200%;
    text-align: left;
}

.form-questions {
    font-weight: bold;
}

.form-answers {
    font-style: italic;
    font-size: 20px;
}

form input, select {
    font-family: 'Hubballi', sans-serif;
    font-weight: 300;
} 

form legend {
    font-weight: bold;
    text-align: center;
}

#submit-button {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* footer */
footer {
    display: block;
    background-color: aquamarine;
    height: 80px;
    font-size: 18px;
}

footer li {
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 30px 0px;
}

footer i:hover {
    color: #fff;
}

#footer-left {
    float: left;
}

#footer-center {
    text-align: center;
}

#footer-right {
    float: right;
}