@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Mina:wght@400;700&display=swap');

/* fonts */

body {
    font-family: 'Hubballi', sans-serif;
}

h1, h2 {
    font-family: 'Mina', sans-serif;
}

p {
    font-size: 1.5rem;
}

/* lists */

ul {
    list-style: none;
    text-align: center;
}

/* header */

header a {
    float: left;
}

nav {
    float: right;
}

/* section */

section {
    float: left;
}

/* footer */

footer {
    float: left;
}

footer li {
    display: inline-block;
}